<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<style>
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
</style>

<script src="{{ url_for('static', filename='js/jscolor.js') }}"></script>

<script type = "text/javascript">
var steps = 1;
window.steps = steps;
function test() {
        setTimeout(function() {
            document.getElementById("myDiv").style.display="none";
            window.location.href = "https://steppy.netlify.com/";
        }, 3000);
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("POST", "/addLesson");
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send(JSON.stringify($("#msform").serializeArray()));
    }

function addAnother() {
  var d1 = document.getElementsByClassName('myFieldset');
  c = d1.length+1;
  var d2 = d1[d1.length-1];
  console.log(d2);
  console.log(c);
  d2.insertAdjacentHTML('afterend', `<h3 class="tmph fs-subtitle">This is step ` + c + `</h3>
    <input type="text" name="email" placeholder="Example Image" />
    <input name="pass1" placeholder="Step Image" />
    <input name="pass2" class="tmpPass" placeholder="Example Description" />
    <input id="myFieldset" class="myFieldset" name="cpass" placeholder="Example Image" />`);

}

function removeStep() {
  var d1 = document.getElementsByClassName('myFieldset');
  if (d1.length > 1){
    var d2 = d1[d1.length-1];
    d2.outerHTML = "";
    var d1 = document.getElementsByClassName('tmpPass');
    var d2 = d1[d1.length-1];
    d2.outerHTML = "";
    var d1 = document.getElementsByClassName('tmpText');
    var d2 = d1[d1.length-1];
    d2.outerHTML = "";
    var d1 = document.getElementsByClassName('tmph');
    var d2 = d1[d1.length-1];
    d2.outerHTML = "";
  }
}

function setTextColor(picker) {
    document.getElementsByTagName('body')[0].style.color = '#' + picker.toString()
  }
    </script>


</head>

<body>




  <!-- multistep form -->
<form id="msform" name="theForm" action = "{{url_for('add_lesson') }}" method = "post">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Lesson Details</li>
    <li>Steps</li>
    <li>Process</li>
  </ul>
  <!-- fieldsets -->

  <fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle"></h3>
    <input type="text" name="fname" placeholder="Lesson Name" />

Color Picker: <input name="2" class="jscolor" value="ab2567">
<input name="3" class="jscolor" value="ab2567">



    <input type="button" name="next" class="next action-button" value="Next" runat="server" onsubmit="ShowLoading()"/>
</div>
  </fieldset>


  <fieldset>
    <h2 class="fs-title">Add Steps</h2>
    <h3 class="fs-subtitle">This is step 1</h3>
    <input type="text" name="email" placeholder="Step Details" />
    <input name="pass1" placeholder="Step Image" />
    <input name="pass2" class="tmpPass" placeholder="Example Description" />
    <input id="myFieldset" class="myFieldset" name="cpass" placeholder="Example Image" />

    <input type="button" name="addstep" value="Add Step" style="background-color: #008CBA;" class="action-button" onclick="addAnother();" />
    <input type="button" name="addstep" value="Remove Step" style="background-color: #f44336;" class="action-button" onclick="removeStep();" />
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Publish" onclick="test()"//>
  </fieldset>

  <fieldset>
      <div id = "myDiv"><img id = "myImage" src = "{{ url_for('static', filename='Spinner.gif') }}"></div><br>
  </fieldset>
</form>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
